*.class
*.log
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_1_jar.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/scala-play-build.iml
/.idea/modules/scala-play.iml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/workspace.xml
/project/target/config-classes
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12
/.idea
/project/target
/target
